<h1 class="mi-titulo">Universidad de La Matanza</h1>

<hr>

<h2 class="subtitle">Bienvenidos a la plataforma de Intraconsulta</h2>

<hr>

<h3>Lista de los Alumnos Inscriptos durante el 2024 </h3>

<button (click)="mostrarListado = !mostrarListado">Ver Lista</button>

<ul *ngIf="mostrarListado">
  @for (student of students; track $index) {
    <li> {{ student }}  </li>
  }


<br>

<button (click)="ocultarFrase= !ocultarFrase">Fechas</button>


<h5 *ngIf="ocultarFrase"
[ngClass]="hasError ? 'error' : 'success'"
[style.font-weight]="hasError ? 800 : 400"
[ngStyle]="{
  'text-decoration': hasError ? 'underline' : 'unset'
 }">
Pronto se habilitaran nuevas fechas de inscripcion. </h5>


</ul>

